.app {
  background: #242d36;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 50px;
    text-align: center;
    color: #fff;
    letter-spacing: 1.6px;
    text-transform: capitalize;
    padding-bottom: 20px;
  }

  img {
    width: 200px;
  }

  a {
    font-size: 20px;
    padding: 5px 0;
    margin-top: 40px;
    background: transparent;
    border-bottom: 1.4px solid #3cbef1;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
  }

  footer {
    position: absolute;
    bottom: 12px;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.45);
  }
}
